@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<OrderedBook>
@inject UserManager<ApplicationUser> _userManager
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@{
    
    <h1 class="text-dark mb-4">Book Cart</h1>
    <div class="card-header py-3 ">
        <a class="btn btn-info text-primary m-0 font-weight-bold" asp-controller="Book" asp-action="Index">Back</a>
    </div>
}
<table class="table my-0" id="dataTable">
    <thead>
    <tr>
        <th>Title</th>
        @* <th>Image</th> *@
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    @{
        var totalPrice = 0;
    
    @foreach (var item in Model)
    {
        if (!item.IsOrdered)
        {
            var subprice = item.Book.Price * item.Quantity;
            totalPrice += subprice; 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>@subprice</td>
            </tr>

        }
    }
        var userId = _userManager.GetUserId(User);
        <tr>
            <td></td>
            <td></td>
            <td>Total Price: @totalPrice</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><button type="button" class="btn btn-info">
                    @Html.ActionLink("Checkout", "CheckOut", "Order", new
                            {
                                userId,
                                totalPrice
                            })
                </button>
                </td>
        </tr>
    }
    </tbody>
</table>

