@using Microsoft.AspNetCore.Identity
@using FPTBook.Data
@model FPTBook.ViewModels.OrdersDetail
@inject UserManager<ApplicationUser> _userManager

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<table class="table">
    <thead>
    <tr>
        <th>
            OrderId
        </th>
        @if (User.IsInRole(Role.Owner))
        {
            <th>
                Customer
            </th>
        }
        <th>
            Total Price
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @{
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                @if (User.IsInRole(Role.Owner))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Fullname)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.ActionLink("Detail", "Detail", "Order", new
                    {
                        orderId = item.Id,
                        userId = item.UserId,
                    }, null)
                </td>
            </tr>
        }
    }
    </tbody>
</table>
